<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
     <%- include('partials/navbar') %>
    <div class="container"></div>
    <h1>We could not find subreddit named <%= subreddit %>.</h1>
    <p>Please try something else.</p>
</body>
</html>