<!DOCTYPE html>
<html lang="en">

<head>
    <title>New Product</title>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container">
        <h1 class="h1 fw-semibold fs-2 font-monospace">Add a product</h1>
        <form action="/products" method="POST" class="row g-3">
            <div class="col-md-6">
                <label for="prodName" class="form-label">Product Name:</label>
                <input class="form-control" id="prodName" name="name">
            </div>
            <div class="col-md-6">
                <label for="prodPrice" class="form-label">Price(Unit):</label>
                <div class="input-group">
                    <div class="input-group-text">$</div>
                    <input class="form-control" id="prodPrice" name="price">
                </div>
            </div>
            <div class="col-md-4">
                <label for="inputCate" class="form-label">Category</label>
                <select id="inputCate" class="form-select text-capitalize" name="category">
                    <% for (let c of cats){ %>
                      <option class="text-capitalize" <%=c===Cat?'selected':''%>><%= c %></option>
                    <% } %>
                </select>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Add Product</button>
            </div>
        </form>   
        <br>     
        <form action="/products"><button class="btn btn-danger">Cancel</button></form>
    </div>

</body>

</html>