<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
</head>
<body>
    <div class="container"></div>
    <h1>We could not find subreddit named <%= subreddit %>.</h1>
    <p>Please try something else.</p>
</body>
</html>