<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Comment</title>
    <%- include('partials/head') %>
</head>

    <body>
        <div class="container">
            <h1 class="h1">Make a new comment</h1>
            <form action="/comments" method="post">
                <div class="row">
                    <section class="mb-3 col-4">
                        <label for="username" class="form-label">Username:</label>
                        <input type="Username" class="form-control" id="username" placeholder="Your username here"
                            name="username">
                    </section>
                </div>
            
                    <div class="row">
                        <section class="mb-3 col-4">
                            <label for="comment" class="form-label">Comment:</label>
                            <textarea class="form-control" id="comment" rows="3" name="comment" cols="5"></textarea>
                        </section>
                    </div>
                <button class="btn btn-primary">Submit</button>
            </form>
            <a href="/comments">Back to Comments Home</a>
        </div>
    </body>

</html>